body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

#mynetwork {
  width: 100%;
  height: 500px;
  border: 1px solid #333; /* Borde más sutil */
  background-color: #1e1e1e; /* Fondo del grafo oscuro */
}


